@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap%27');


.nnav {
  list-style-type: none;
  margin-bottom: 0 !important;
  padding: 0;
  overflow: hidden;
}

.nnav li {
  float: left;
}

.nnav-item{
  font-family: 'Roboto', sans-serif;
  display: block;
  color: black;
  text-align: center;
  font-size: 22px;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid white;
}

.nav-image {
  width: 80px;
  height: 60px;
}

li a:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(240, 240, 240);
}

.section-title{
  text-align: center;
  font-size: 25px;
  font-family: 'open sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

.section-under-title{
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-size: 22px;
  padding-bottom: 4px;
  border-bottom: 1px dashed black;
}

.section-para{
  font-family: "roboto slab", sans-serif;
  font-size: 17px;
}

.sidepanel{
  background-color: rgb(240, 240, 240);
}

.sidepanel-img{
  width: 100%;
  padding-bottom: 20px;
}

.sidepanel-table{
  width: 100%;
  margin-bottom: 25px;
}

.sidepanel-table tr{
  border-top: 3px solid white;
}

.sidepanel-title{
  text-align: center;
  font-family: 'open sans', sans-serif;
  background-color: white;
}

.sidepanel-name{
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  width: 38%;
  padding: 2px;
}

.sidepanel-info{
  text-align: right;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  width: 62%;
  padding: 2px;
}

#article-title{
  text-align: center;
  margin: auto 0;
  font-size: 22px;
}

#back-button img, #foward-button img{
  width: 20%;
  margin: 10% 35%;
  text-align: center;
}

#back-button, #foward-button{
  padding: 0;
}

#back-button:hover, #foward-button:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
#back-button{
  border-right: 2px dashed black;
}

#foward-button{
  border-left: 2px dashed black;
}

#article{
  margin-right: 10px;
  background-color: #fff;
  text-align: justify;
  padding: 0;
  padding-top: 10px;
  font-size: 18px;
  
}

#article-text{
  margin-right: 10px;
}

.clickable:hover{
  cursor: pointer;
}


@media (min-width: 1200px){
  .container {
      max-width: 1140px;
  }
}
@media (min-width: 992px){
  .container {
      max-width: 960px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 820px;
  }
}

#secnav{
  width: 181px;
  max-width: 181px;
  margin: 0 auto 30px auto;
  vertical-align: middle;
}

#secnav div{
  cursor: pointer;
  float: left;  
  font-family: 'Roboto', sans-serif;
  display: block;
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 22px;
  padding: 15px 20px;
  text-decoration: none;
  border: 1px solid white;
}

#secnav div:hover{
  background-color: rgb(240, 240, 240);
}

#thirnav{
  width: 400px;
  margin: 0 auto 30px auto;
  vertical-align: middle;
}

#thirnav div{
  left: 45px;
  position: relative;
  cursor: pointer;
  float: left;  
  font-family: 'Roboto', sans-serif;
  display: block;
  color: black;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 22px;
  padding: 10px 10px;
  text-decoration: none;
  border: 1px solid white;
 
}

#thirnav div:last-child{
 border: 1px solid black;
padding: 5px 130px;
}

#start{
  
}

g:focus{
  outline: 0;
}

#geo-back div{
  background-color: white;
}

#answers{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  position: relative;
  float: right;
  top: -250px;
  right: 50px;
}

#answers ul{
  background-color: rgb(240, 240, 240);
  text-align: left;
  width: 400px;
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

#answers ul li{
  padding: 10px 10px;
  border: 1px solid rgb(124, 124, 124);
  border-bottom: 0;
  
}
/*
#answers ul li:hover{
  background-color: rgb(207, 207, 207); 
}
*/
#answers ul li:last-child{
  border-bottom:1px solid rgb(124, 124, 124);
}

.quiz-right{
  background-color: rgb(121, 255, 121);
}
.quiz-wrong{
  background-color: rgb(255, 121, 121);
}
.quiz-right:hover{
  background-color: rgb(121, 255, 121);
}
.quiz-wrong:hover{
  background-color: rgb(255, 121, 121);
}